/* Importação De Fontes */
@font-face {
    font-family: 'Bebas Neue';
    src: url(../assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: 'Courier New';
    src: url(../assets/fonts/courier-new/courier-new.ttf);
}

@font-face {
    font-family: 'Open Sans';
    src: url(../assets/fonts/Open_Sans/OpenSans-Light.ttf);
}

/* Reset de dimensões */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==== Formatações Gerais HTML ==== */
.container{
    width: 80%;
    margin: 0 auto;
    height: 100%;
    max-width: 1520px;
}

/* ==== Header Gerais ==== */

header{
    height: 60px;
    background-color: #F9003D;
}

header .header-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

/* ==== Header Nav ==== */

header nav{
    width: 50%;
}

header .nav-flex{
    display: flex;
    justify-content: space-between;
}

header nav a{
    border-radius: 10px;
    padding:10px 20px;
    color: white;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    text-decoration: none;
}

header nav a:hover{
    background-color: white;
    color: #F9003D;
}

/* ==== Main ==== */

/* ==== Banner Destaque ==== */

main #banner-destaque{
    height: 779px;
    background-image: url(../assets/images/imagem-fundo-banner.png);
}

main .informacoes-banner{
    width: 45%;
    padding-top: 250px;
}

main .banner-flex{
    display: flex;
    flex-direction: column;
}

main .informacoes-banner .titulo-banner{
    padding-bottom: 10px;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 96px;
    font-weight: 400;
    border-bottom: 1px solid #FFAF00;
}

main .informacoes-banner .subtitulo-banner{
    margin-top: 25px;
    font-size: 53px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Courier New', serif;
    color: #F9003D;
}

main .informacoes-banner #mouse{
    margin-top: 25px;
}

/* ==== Seção Sobre ==== */

main #sobre{
    height: 800px;
    background-color: #080324;
}

main .titulo-sobre{
    padding-top: 64px;
    color: #F9003D;
    font-family: 'Bebas Neue', cursive;
    font-size: 64px;
    font-weight: 400;
}

main .sobre-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

main .subtitulo-sobre{
    color: #FFAF00;
    font-family: 'Bebas Neue', cursive;
    font-size: 64px;
    font-weight: 400;
}

main .informacoes-sobre{
    display: flex;
    flex-direction: column;
    width: 592px;
}

main .informacoes-sobre #participantes-texto{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: 700;
    color: white;
}

main .informacoes-sobre #descricao-sobre{
    text-align: justify;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

/* ===== Desafios ==== */

main #info{
    height: 200px;
    background-image: url(../assets/images/imagem-fundo-info.png);
}

main #info .info-flex{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .info-flex h3{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 5px;
}

main .info-flex .cart-flex{
    display: flex;
    flex-direction: column;
}

main .info-flex .cart-info{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 289px;
    height: 100px;
    border: 2px solid #A259F7;
}

main .info-flex .cart-info p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 21px;
    font-weight: 600;
    color: #A259F7;
}

/* ==== Footer ==== */

/* ==== Endereço ==== */

footer #endereco{
    height: 598px;
    background-image: url(../assets/images/imagem-fundo-endereco.png);
}

footer #endereco .endereco-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    width: 55%;
    margin: 0 auto;
}

footer .endereco-flex .titulo-endereco{
    color: #FFAF00;
    font-family: 'Bebas Neue', cursive;
    font-size: 64px;
    font-weight: 400;
    padding-bottom: 5px;
}

footer .endereco-flex .info-endereco-flex{
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #010010;
    border: 2px solid #340B65;
    height: 204px;
    width: 100%;
}

footer .info-endereco-flex .info-endereco{
    color: #A259F7;
    padding-left: 66px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: justify;
}

footer .info-endereco-flex #mapa{
    position: absolute;
    right: 25px;
    bottom: 25px;
}

/* ==== Direitos ==== */

footer .direitos-flex{
    height: 100%;
    background-color: #F9003D;
    height: 90px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer .direitos-flex p{
    text-align: center;
    color: white;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 400;
}