/* Pseudoelementos define propriedades específicas à alguns elementos dentro de uma mesma div como um span dentro do html mas mais prático e pelo css Ex: a:hover*/

/* Seletor especial para os filhos, irmãos diretos de uma tag pegando apenas aqueles que estão em hierarquia direta à tag sem pegar seu 3 o 4 Ex: X > y (filho direto) ou X ~ Y (Irmão direto)*/

/* Importação de Fontes */
@font-face {
    font-family: 'Titillium Web Bold';
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
}

@font-face {
    font-family: 'Titillium Web Black';
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: 'Inter';
    src: url(../assets/fonts/Inter/Inter-Regular.ttf);
}

@font-face {
    font-family: 'QuickSand';
    src: url(../assets/fonts/Quicksand/Quicksand-Regular.ttf);
}

/* Resert de Dimensões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ================================ Mobile First =============================== */

/* Formatações Gerais HTML */

.container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.ativo{
    color: #F9AA01;
}

/* Configurações Gerais do Header */

header{
    background-color: #1B1426;
    color: white;
}

header .header-top{
    display: none;
    height: 50px;
    border-bottom: 1px solid #F9AA01;
}

header .header-top .header-top-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .contatos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* display: flex;
    justify-content: space-between;
    align-items: center;

     width: 400px;  */
}

header .contatos p{
    padding-left: 20px;
}

header .contatos .telefone{
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 2px solid #F9AA01;
    padding: 32px 0;
    width: 100%;
}

header .contatos .email{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 32px 0;
    width: 100%;
}

/* Configuração da seção de cima do Header */

header .header-top .redes-sociais{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}

/* Configurando a seção de baixo do Header */

header .header-bottom{
    height: 60px;
}

header .header-bottom .header-bottom-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Configurando Menu de Navegação (Menu Hamburger) */

header .header-bottom .menu{
    position: fixed;
    top: 60px;
    left: 0;
    width: 80vw;

    /* Desconta o valor do header na altura da nav para se ajustar totalmente a tela */
    height: calc(100vh - 60px);
    

    /* Faz um efeito gradiente em linear passando os valores da direção, e as cores presentes no gradiente */
    background: linear-gradient(168.74deg, rgba(27, 20, 38, 0.7) 0%, rgba(27, 20, 38, 0.4) 100%);
    
    /* Cria o efeito de borrado do glassmorsphims passando qual o tipo de filtro do background e quanto de parâmetro em valor */
    backdrop-filter: blur(45px);

    display: flex;
    flex-direction: column;
    align-items: center;

    /* display: none; */


    /* Configuração do computador */
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}

header .header-bottom #logo_gamer{
    width: 97px;
    height: 25px;
}

header .menu p{
    color: white;
    font-family: 'Inter';
    font-size: 15px;
}

header .menu .menu-flex{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    border-bottom: 2px solid #F9AA01;
}

header .menu .menu-flex a{
    padding: 32px 0;
    text-decoration: none;
}

header .menu .redes-sociais{
    position: absolute;
    top: 83vh;

    display: flex;
    justify-content: center;

    /* Propriedade Flex: gap, funciona como uma maneira de definir valores para espaçamento entre os elementos de uma tag que tenha display flex. A propriedade funciona ao declara-la e depois informar o valor depois Ex: gap: 20px;  */
    gap: 30px;

    width: 100%;
}

/* Configurando Menu Perfil (Três Pontinhos) */

header .header-bottom .menu-perfil{
    position: fixed;
    top: 60px;
    right: 0;
    width: 20vw;
    height: 28vh;

    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    display: none;
}

header .menu-perfil .menu-perfil-flex{
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: space-between;
    align-items: center;
}

/* Main */

main{
    display: none;
}

main #banner-destaque{
    background-image: url(../assets/images/banner_mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 610px;
}

main #banner-destaque .banner-flex{
    display: flex;
    justify-content: center;
}

main #banner-destaque .banner-flex .info-banner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 84%;
    margin: 4% 0 auto;
}

main #banner-destaque .banner-flex .info-banner .titulo-banner{
    color: white;
    font-family: 'Titillium Web Black';
    font-size: 40px;
    text-shadow: 0px 0px 7px #FD4255;
}

main #banner-destaque .banner-flex .info-banner .botao-sobre{
    font-size: 24px;
    font-family: 'Titillium Web Bold';
    padding: 3px 55px;
    background-color: #F9AA01;
    border-radius: 8px;
}

main #banner-destaque .banner-flex .info-banner .botao-sobre a{
    text-decoration: none; 
    color: black;
}

main #principais-produtos{
    background-color: #1B1426;
    height: 588px;
}

main #principais-produtos .principais-carts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 90%;
    margin: auto 0;
}